@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  max-height: 100%;
}

input,
textarea,
select {
  @apply border border-gray-200 rounded-sm px-3 py-2 w-full bg-white;
  @apply mb-3;
}

input:focus,
textarea:focus,
select:focus {
  @apply border-blue-900;
}

h1 {
  @apply text-gray-800 text-xl mb-5 font-bold;
}

h2 {
  @apply text-gray-600 text-lg mb-5 font-semibold;
}

label {
  @apply text-gray-600 text-sm;
}
.btn-primary {
  @apply bg-primary text-white px-4 py-1 rounded-sm shadow-sm;
}

table.basic {
  @apply w-full bg-white rounded-sm shadow-sm;
}

table.basic thead tr td,
table.basic thead tr th {
  @apply text-sm text-gray-600 uppercase border-b border-gray-300 px-4 py-3;
}
table.basic tr td {
  @apply py-1 px-4 text-sm;
}

table.basic a {
  @apply inline-flex mr-2 items-center gap-2 px-1 py-1 rounded-md text-sm;
}

.btn-default {
  @apply bg-white text-gray-600 border border-gray-200 shadow-sm px-4 py-1 rounded-sm text-sm;
}

.btn-red {
  @apply bg-red-200 text-red-600 px-4 py-1 rounded-sm shadow-sm;
}

.btn-default,
.btn-red {
  @apply px-2 py-1 rounded-md;
}

.count_chart {
  @apply p-5 shadow-md border rounded-md bg-highlight;
}
